@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Markazi Text', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: pink;
}

@layer components {
  body {
    /* @apply bg-pink-200; */
  }
}
